.section-heroi{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.section-heroi .container{
    width: 80dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}
.section-heroi .container .texto-heroi{
    width: 50%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
    font-size: 2em;
}
.section-heroi .container .texto-heroi p span{
    background-color: var(--low-secondary-color);
    padding: 6px;
    border-radius: 8px;
    font-weight: bold;
}
.section-heroi .container .texto-heroi .btn{
    color: var(--main-text-color);
    background: var(--primary-color);
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
}
.section-heroi .container .img-heroi{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    right: -360px;
    bottom: -260px;
}
.section-heroi .container .img-heroi img{
    width: 100%;
    object-fit: cover;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}
.section-heroi .wave{
    position: absolute;
    bottom: -70px;
    left: 0;
    z-index: 1;
}
.section-heroi .wave.behind{
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .section-heroi .container .img-heroi{
        width: 90%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        right: -60px;
        bottom: -0px;
    }
    .section-heroi .wave{
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 1;
    }
}