.section-heroi{
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.section-heroi .container{
    width: 70dvw;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    padding: 148px 0;
}
.section-heroi .container .texto-heroi{
    width: 50%;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 1.5em;
}
.section-heroi .container .texto-heroi h2{
    margin: 0;
}
.section-heroi .container .texto-heroi p{
    text-shadow:
        1px 1px 2px var(--bg-color),
        0 0 1em var(--bg-color),
        0 0 0.2em var(--bg-color);
}
.section-heroi .container .texto-heroi p span{
    color: var(--secondary-color);
    border-radius: 8px;
    font-weight: 800;
}
.section-heroi .container .texto-heroi .btn{
    color: var(--main-text-color);
    background: var(--primary-color);
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
}
.img-heroi{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    z-index: 2;
}
.img-heroi img{
    width: 100%;
    object-fit: cover;
    object-position: right;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}

.section-epigrafe{
    min-height: fit-content;
    margin: 0;
    padding: 0;
}
.section-epigrafe .container{
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.section-epigrafe .container svg{
    margin-bottom: -2px;
}
.section-epigrafe .container .frase {
    font-size: 2em;
    display: flex;
    flex-direction: column;
    padding: 82px;
}
.section-epigrafe .container .frase p{
    margin: 0;
}
.section-epigrafe .container .frase .texto-frase span{
margin: 0;
    font-weight: bold;
    background-color: var(--primary-color);
    padding: 6px;
    border-radius: 8px;
}
.section-epigrafe .container .frase .autor{
    align-self: flex-end;
    font-weight: bold ;
}

.section-equipe{
    background-color: var(--bg-inverse-color);
    color: var(--main-text-inverse-color);
    justify-content: center;
}
.section-equipe .container{
    gap: 42px;
    padding: 42px 0px;
    flex-direction: column;
}

.section-equipe .container .texto-equipe{
    color: purple;
    font-size: 2em
}

.section-equipe .img-equipe{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.section-equipe .img-equipe div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
.section-equipe .img-equipe img{
    width: 180px;
    height: 190px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .section-heroi .container{
        flex-direction: column-reverse;
    }
    .section-heroi .container .texto-heroi{
        width: 100%;
    }
    .section-heroi .container .img-heroi{
        width: 100%;
    }
    .section-equipe .img-equipe img{
        width: 120px;
        height: 130px;
        object-fit: cover;
    }
    
}