/* Estilos para o perfil do técnico na barra lateral */

.perfil-tecnico {
    text-align: center;
    padding: 20px 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    color: white;
}

.perfil-tecnico .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.perfil-tecnico .nome-tecnico {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.perfil-tecnico .cargo-tecnico,
.perfil-tecnico .empresa-tecnico {
    font-size: 14px;
    color: #fff;
    margin: 2px 0;
}

/* Estilos para o container principal */

.container .kpi-container {
    display: flex;
    flex-wrap: wrap; /* permite quebrar linha */
    width: 100%;
    box-sizing: border-box;
    gap: 12px;
    justify-content: center; /* centraliza quando sobram menos cards */
}
.container .kpi-container .kpi-card{
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
    background: var(--bg-inverse-color);
    min-width: fit-content;
    flex: 1 1 250px; /* largura base de 250px, ajusta conforme o espaço */
    min-width: 250px; /* evita que o card fique muito estreito */
    max-width: 465px; /* impede que um único card fique largo demais */
}
.container .kpi-container .kpi-card .titulo{
    margin: 0;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}
.container .kpi-container .kpi-card .quantidade{
    font-size: 3em;
    align-self: center;
    font-weight: bold;
    margin: 8px 0 0 0;
}
.container .kpi-container .kpi-card .icon{
    align-self: flex-end;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    color: var(--main-text-color);
}
.container .kpi-container .kpi-card .icon.cadastrada{
    background-color: #b3b3b3;
}
.container .kpi-container .kpi-card .icon.ativo{
    background-color: var(--error-color);
}
.container .kpi-container .kpi-card .icon.solicitacao{
    background-color: var(--secondary-color);
}

/* Estilos para a lista de chamados */
table {
    width: 100%;
    background-color: #d3d3d3;
    border-collapse: collapse;
    height: fit-content;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
}

table tr {
    flex: 1;
    width: 100%;
    display: flex;
    transition: .2s;
    align-items: center;
}

table tr th,
table tr td {
    text-align: start;
    padding: 10px;
    flex: 1;
    max-height: 56px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

table thead {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    min-width: fit-content;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--main-text-color);
}

table tbody {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-color: var(--bg-inverse-color) var(--bg-color);
}

tbody tr:nth-child(odd) {
    background-color: #bdbdbd;
}

tbody tr:hover {
    background-color: #dbacf7;
}

table tr .id {
    flex: 0.25;
    width: 100%;
    box-sizing: border-box;
}

table tr .maquina {
    flex: 0.50;
    width: 100%;
    box-sizing: border-box;
}

table tr .problema {
    flex: 0.50;
    width: 100%;
    box-sizing: border-box;
}

table tr .prioridade {
    flex: 0.25;
    width: 100%;
    box-sizing: border-box;
}

table tr .status,
table tr th.status {
    flex: 0 0 160px; /* largura fixa da coluna */
    box-sizing: border-box;
}


table tr td.status span {
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
}

table .ativo {
    background: var(--sucess-color);
    color: var(--main-text-color);
}

table .inativo {
    background: var(--error-color);
    color: var(--main-text-color);
}

table tr .tecnico {
    flex: 0.8;
    min-width: fit-content;
    box-sizing: border-box;
}

table tr .acao {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex: 1;
    max-width: 92px;
    min-width: fit-content;
    box-sizing: border-box;
}

table tr td.acao button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    cursor: pointer;
    
}

table tr td.acao button.iniciar  {
    background-color: var(--secondary-color);
    color: var(--main-text-color);
}

table tr td.acao button.finalizar {
    background-color: var(--sucess-color);
    color: var(--main-text-color);
}



.concluidos {
    background-color: var(--sucess-color);
    color: var(--main-text-color);
}

.andamento {
    background-color: var(--attention-color);
    color: var(--main-text-color);
}

.nIniciado {
    background-color: var(--error-color);
    color: var(--main-text-color);
}

td.acao {
    display: flex;
    gap: 8px;
}

td.acao button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

td.acao button.ver-mais {
    background-color: #636363;
    color: var(--main-text-color);
}


.container .listaEmpresa{
    background-color: var(--bg-inverse-color);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
}
.container .pesquisa{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px;
}
.container .pesquisa .ipt_label{
    min-width: 150px;
}
.container .pesquisa .requisicao{
    flex: 1;
    padding: 12px 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.25em;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    min-width: fit-content;
    transition: .3s;
    background: var(--secondary-color);
    color: #FFF;
}
.container .pesquisa .requisicao:hover{
    outline: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background: #FFF;
}

.modal.cadastro .modal-container .body{
    padding: 0 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    scrollbar-color: var(--bg-color) transparent;
}
.modal.cadastro .modal-container .body .header-body{
    display: flex;
    padding: 8px;
    background-color: var(--bg-inverse-color);
    position: sticky;
    top: -1px;
    gap: 24px;
}
.modal.cadastro .modal-container .body .header-body h2{
    width: fit-content;
    margin: 0;
    display: flex;
    align-items: center;
}
.modal.cadastro .modal-container .body .card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 12px 24px;
    align-items: center;
    border: 1px solid;
    border-radius: 8px;
    background-color: #FFF;
}
.modal.cadastro .modal-container .body .card .info .nome{
    display: flex;
    align-items: center;
    gap: 12px;
}
.modal.cadastro .modal-container .body .card .info .nome span{
    font-size: 0.7em;
    font-weight: normal;
}
.modal.cadastro .modal-container .body .card .botoes{
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    min-width: 155px;
    margin-left: auto;
}
.modal.cadastro .modal-container .body .card .botoes button{
    padding: 12px;
    border: none;
    cursor: pointer;
}
.modal.cadastro .modal-container .body .card .botoes .aprovar{
    background-color: var(--sucess-color);
}
.modal.cadastro .modal-container .body .card .botoes .reprovar{
    background-color: var(--error-color);
}

.modal {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none; /* ou flex, quando estiver ativo */
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* fundo escurecido */
  z-index: 9999; /* 🔥 fica acima do nav (que tem z-index: 100) */
}

.modal.ativo {
  display: flex;
}

.modal-container {
  background: white;
  border-radius: 10px;
  padding: 30px;
  z-index: 10000; /* opcional, mas garante que o conteúdo fique na frente */
  position: relative;
}
#tela-carregando {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(3px);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.caixa-carregando {
  background: #fff;
  padding: 20px 35px;
  border-radius: 12px;
  text-align: center;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caixa-carregando p {
  margin-top: 12px;
  font-size: 18px;
  color: #333;
}