#qtdSemParam{
    color: red !important;
}

.container .kpi-container .kpi-card .icon.solicitacao{
    background-color: var(--secondary-color);
}

/* Estilos específicos para o modal de aviso */
.modal.aviso {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1050; 
    justify-content: center;
    align-items: center;
}

.parametros-atuais {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.param-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.param-item .label {
  font-size: 1.5em;
  color: #555;
  margin: 0;
  transform: translateY(2px);

}

.quantidadeParam {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
}

#paramCpu {
    margin-left: 0.4em;
}

#paramGpu {
    margin-left: 0.4em;
}
.modal-container .body .ipt_label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 12px;
  width: 100%;
}

.modal-container .body .ipt_label label {
    margin-left: -10px;
  font-weight: 500;
  color: #444;
  font-size: 0.90rem;
}

.modal-container .body .ipt_label input {
  height: 35px; 
  padding: 12px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.25s ease; 
}

.modal-container .body .ipt_label input:focus {
  height: 42px;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.modal-container .body .ipt_label input:focus + label,
.modal-container .body .ipt_label label:focus-within {
  color: var(--primary-color);
  font-weight: 600;
}

.modal.aviso.open {
    display: flex; 
}

.modal-container.aviso {
    max-width: 400px; 
    width: 80%; 
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center; 
    transform: translateY(-100px);
    transition: transform 0.3s ease-in-out;
}

.modal-container .body {
    max-width: 1200px;      
    max-height: 360px !important;   
    overflow-y: visible; 
}

.modal-container .body .formulario {
    height: 360px; 
    display: flex;
    flex-direction: column;
}

.modal-container.aviso.slide-in-top {
    transform: translateY(0);
}

.header {
    margin-bottom: 15px;
}

.header h1 {
    font-size: 1.2rem; 
    font-weight: 600;
    margin: 0;
    color: #333;
}

.body p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
}

.close-icon {
    cursor: pointer;
    font-size: 24px;
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn.submit {
    background-color: var(--primary-color); 
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.btn.cancel {
    background-color: #FF5722; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .modal-container.aviso {
        width: 90%; 
        padding: 15px;
    }

    .header h1 {
        font-size: 1.1rem; 
    }

    .body p {
        font-size: 0.9rem;
    }

    .btn.submit {
        font-size: 0.9rem;
    }
}