nav{
    height: 100dvh;
    width: 156px;
    border-radius: 0;
    padding: 42px;
    position:static;

    background: rgb(36, 35, 35);
    box-shadow: 0 4px 30px rgba(181, 3, 235, 0.1);
    border: none;
    outline: 1px solid rgba(234, 0, 255, 0.3);
    transition: .3s;
    box-sizing: border-box;
}
nav:hover{
    width: 320px;
}
nav .main-nav{
    flex-direction: column;
    height: 100%;
}
nav .main-nav .logo{
    margin: 0;
    object-fit: cover;
    width: 42px;
    overflow: hidden;
    transition: .3s;
}
nav:hover .main-nav .logo{
    width: 142px;
}
nav .links{
    flex-direction: column;
    width: 100%;
    gap: 12px;
    box-sizing: border-box;
}
nav .links li{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    box-sizing: border-box;
}
nav .links li:has(.link.ativo){
    background-color: var(--primary-color);
}
nav .links .link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 42px;
    box-sizing: border-box;
    position: relative;
    transition: .3s;
}
nav .links .link .icon{
    font-size: 1.15em;
    position: absolute;
    left: 8px;
    background-color: var(--bg-color);
    padding: 4px;
    border-radius: 6px;
}
nav .links .link .titulo{
    width: 0px;
    transition: .3s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
nav:hover .links .link .titulo{
    width: fit-content;
}
nav .btn-sair{
    color: var(--main-text-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    transition: .3s;
}
nav .btn-sair:hover{
    background: #eb2e2e;
}

section{
    max-width: 100dvw;
    background-color: #e0e0e0;
    flex-direction: row;
    color: var(--main-text-inverse-color);
}


section .container{
    width: 100%;
    height: 100dvh;
    padding: 24px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 12px;
}

/* Estilos para a lista de chamados */
.chamado{
    width: 100%;
    margin-top: 99px;
}

table {
    width: 100%;
    background-color: #d3d3d3;
    border-collapse: collapse;
    height: fit-content;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 8px;
}

table tr {
    flex: 1;
    width: 100%;
    display: flex;
    transition: .2s;
    align-items: center;
}

table tr th,
table tr td {
    text-align: start;
    padding: 10px;
    flex: 1;
    max-height: 56px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

table thead {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0;
    min-width: fit-content;
    width: 100%;
    background-color: var(--bg-color);
    color: var(--main-text-color);
}

table tbody {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-color: var(--bg-inverse-color) var(--bg-color);
}

tbody tr:nth-child(odd) {
    background-color: #bdbdbd;
}

tbody tr:hover {
    background-color: #dbacf7;
}

table tr .id {
    flex: 0.25;
    width: 100%;
    box-sizing: border-box;
}

table tr .maquina {
    flex: 0.50;
    width: 100%;
    box-sizing: border-box;
}

table tr .problema {
    flex: 0.50;
    width: 100%;
    box-sizing: border-box;
}

table tr .prioridade {
    flex: 0.25;
    width: 100%;
    box-sizing: border-box;
}

table tr .status,
table tr th.status {
    flex: 0 0 160px; /* largura fixa da coluna */
    box-sizing: border-box;
}


table tr td.status span {
    padding: 8px;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
}

table .ativo {
    background: var(--sucess-color);
    color: var(--main-text-color);
}

table .inativo {
    background: var(--error-color);
    color: var(--main-text-color);
}

table tr .tecnico {
    flex: 0.8;
    min-width: fit-content;
    box-sizing: border-box;
}

table tr .acao {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex: 1;
    max-width: 92px;
    min-width: fit-content;
    box-sizing: border-box;
}

table tr td.acao button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    cursor: pointer;
    
}

table tr td.acao button.iniciar  {
    background-color: var(--secondary-color);
    color: var(--main-text-color);
}

table tr td.acao button.finalizar {
    background-color: var(--sucess-color);
    color: var(--main-text-color);
}

#lista_tecnicos_container {
    padding: 10px;
    max-height: 60vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tecnico-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

.tecnico-card .info p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #333;
}

.tecnico-card .info p strong {
    color: #000;
}

.btn-atribuir {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-atribuir:hover {
    background-color: #45a049;
}

.concluidos {
    background-color: var(--sucess-color);
    color: var(--main-text-color);
}

.andamento {
    background-color: var(--attention-color);
    color: var(--main-text-color);
}

.nIniciado {
    background-color: var(--error-color);
    color: var(--main-text-color);
}

td.acao {
    display: flex;
    gap: 8px;
}

td.acao button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

td.acao button.ver-mais {
    background-color: #636363;
    color: var(--main-text-color);
}


.container .listaEmpresa{
    background-color: var(--bg-inverse-color);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    box-sizing: border-box;
    padding: 24px;
}
.container .pesquisa{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px;
}
.container .pesquisa .ipt_label{
    min-width: 150px;
}
.container .pesquisa .requisicao{
    flex: 1;
    padding: 12px 0;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.25em;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    min-width: fit-content;
    transition: .3s;
    background: var(--secondary-color);
    color: #FFF;
}
.container .pesquisa .requisicao:hover{
    outline: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background: #FFF;
}

.modal.cadastro .modal-container .body{
    padding: 0 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    scrollbar-color: var(--bg-color) transparent;
}
.modal.cadastro .modal-container .body .header-body{
    display: flex;
    padding: 8px;
    background-color: var(--bg-inverse-color);
    position: sticky;
    top: -1px;
    gap: 24px;
}
.modal.cadastro .modal-container .body .header-body h2{
    width: fit-content;
    margin: 0;
    display: flex;
    align-items: center;
}
.modal.cadastro .modal-container .body .card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 12px 24px;
    align-items: center;
    border: 1px solid;
    border-radius: 8px;
    background-color: #FFF;
}
.modal.cadastro .modal-container .body .card .info .nome{
    display: flex;
    align-items: center;
    gap: 12px;
}
.modal.cadastro .modal-container .body .card .info .nome span{
    font-size: 0.7em;
    font-weight: normal;
}
.modal.cadastro .modal-container .body .card .botoes{
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    min-width: 155px;
    margin-left: auto;
}
.modal.cadastro .modal-container .body .card .botoes button{
    padding: 12px;
    border: none;
    cursor: pointer;
}
.modal.cadastro .modal-container .body .card .botoes .aprovar{
    background-color: var(--sucess-color);
}
.modal.cadastro .modal-container .body .card .botoes .reprovar{
    background-color: var(--error-color);
}



@media screen and (max-width: 1000px) {
    nav{
        height: fit-content;
        width: 100dvw !important;
        border-radius: 0;
    }
    nav .main-nav .logo{
        width: 142px;
    }
    nav .main-nav{
        flex-direction: row;
    }
    nav .nav-links-pc{
        display: none;
    }
    nav #nav-menu-icon{
        display: block;
    }


    section{
        flex-direction: column;
    }
    section .container{
        height: calc(100dvh - 123px);
    }
}